body, button {
    margin: 0;
    padding: 0;
}

.gap{
    gap: 16px;
}

.flex{
    justify-content: center;
    align-items: center;
    display: flex;
}

.blocks{
    flex: 0 0 auto;
    border: 1px solid gray;
    box-sizing: border-box;
}

.container{
    flex-basis: 100%;
    flex-wrap: wrap;
    border: 1px black solid;
    width: 1024px;
    height: 1024px;
}

.square {
    flex-direction: column;
}

button {
    padding: 4px 8px;
    font-size: 16px;
}